.card {
    color: rgb(16, 17, 17);
    min-width: 220px;
    max-width: 260px;
    background-color: rgb(200, 203, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 40px 20px;
    overflow: hidden;
}

.card p {
    width: 90%;
    text-align: center;
    margin: 10px 0;
}
